/*TODO: desktop res*/
/*NOTE: colors:
    pink:
    hoever-teal:
    teal:
    clicked-teal:
    offwhite:
    white:
    font:
*/
body {

}

#wrapper {
  /*TODO: max width*/
  /*TODO: min width*/
  /*TODO: width*/
}

header {

}

nav {

}

main {

}

footer {

}

.collection {

}


/*TODO: tablet res styles*/

/*TODO: phone res styles*/

/*TODO: extreme low res styles*/
