body {
  font-family: Arial, Verdana, sans-serif;
  background: white;
  padding: 0;
  margin: auto;
  width: 100%;
  position: relative;
}

nav {
  padding: 5px;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: white;
}

dt {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}

dd {
  height: auto;
  padding: 5px;
}

.homebar {
  image-orientation: center;
  width: 73%;
  margin: auto;
  background-color: violet;
  padding: 5px;
  text-align: left;
}

.main {
  padding-bottom: 180px;
  text-align: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.cell {
  background-color: white;
  padding: 5px;
  text-align: left;
  width: 73%;
  margin: auto;
  position: relative;
  clear: both;
}

.window {
  text-align: left;
  font-size: 1.2em;
  color: black;
  text-shadow: 2px 2px white;
  font-weight: bolder;
  padding: auto;
  width: auto;
  margin: auto;
  height: 200px;
  background-image: url("images/tiger.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
  margin-left: 50px;
  margin-right: 50px;
}

.projects {
  padding: 5px;
  width: 73%;
  margin: auto;
}

.info {
  width: 200px;
  font-size: .9em;
  float: left;
  margin: 20px;
  padding: 5px;
  height: 150px;
}

.info:hover {
  background-color: #00bddf;
  color: white;
}

.footer {
  text-align: center;
  padding-top: -180px;
  height: 180px;
  position: relative;
  clear: both;
}

.blurb{
  text-align: left;
  margin: auto;
}

.projecttitle {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
}
